<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ../partials/_header %>
  <h2>My URLs</h2>
  <ul class="list-inline">
    <div>
      <% urlsKeys.forEach(function(tinyUrl){ %>
        <div class="row" style="margin: 0.5em">
          <div class="col-md-4">
            <li><%= tinyUrl %>: <a href=<%= templateVars[tinyUrl] %>><%= templateVars[tinyUrl] %></a></li>
          </div>
          <div class="col-md-1">
            <p><a href="/urls/<%= tinyUrl %>">Edit</a></p>
          </div>
          <div class="col-md-2">
            <form method="POST" action="/urls/<%= tinyUrl %>/delete">
            <button type="submit" class="btn btn-primary">Delete</button>
            </form>
          </div>
        </div>
      <% }) %>
    </div>
  </ul>

</body>
</html>

